name: CD Pipeline

on:
  push:
    branches:
      - dev
      - qa
      - main

jobs:
  deploy-dev:
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish web app
        run: dotnet publish BPCalculator/BPCalculator.csproj -c Release -o ./publish

      - name: Deploy to Azure Web App (Dev slot)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'bp-app-rakesh'
          slot-name: 'dev'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_DEV }}
          package: './publish'

  deploy-qa:
    if: github.ref == 'refs/heads/qa'
    runs-on: ubuntu-latest
    environment: qa

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish web app
        run: dotnet publish BPCalculator/BPCalculator.csproj -c Release -o ./publish

      - name: Deploy to Azure Web App (QA slot)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'bp-app-rakesh'
          slot-name: 'qa'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_QA }}
          package: './publish'

  deploy-prod:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish web app
        run: dotnet publish BPCalculator/BPCalculator.csproj -c Release -o ./publish

      - name: Deploy to Azure Web App (Production)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'bp-app-rakesh'
          # no slot-name => production
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_PROD }}
          package: './publish'
          